body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-header {
  margin-right: 76px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
}

.logo-black {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
}

.logo-white {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
}

.link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 1.5;
  display: block;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .link.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  position: absolute;
  bottom: -1px;
}

.header-list .link.active {
  color: #404bbf;
}

address {
  font-style: normal;
}

.address-link {
  color: #434455;
  letter-spacing: 0.32px;
  line-height: 1.5;
  font-weight: 400;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

p {
  font-size: 16px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-address {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 0;
}

img {
  display: block;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  max-width: 1440px;
  margin: 0 auto;
}

.hero-page {
  margin: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-p {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.feature-name-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.feature-text {
  width: 264px;
}

.feature-h {
  margin-bottom: 8px;
}

.feature-icon {
  margin: 0;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.feature-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
  text-align: center;
}

.team-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-foto {
  background-color: #ffffff;
  letter-spacing: 0.02em;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-h {
  margin-bottom: 8px;
  text-align: center;
}

.team-p {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.team-text {
  padding: 32px 0;
}

.team-name {
  margin-bottom: 72px;
}

.portfolio {
  line-height: 1.11;
  text-align: center;
}

.portfolio-p {
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-name {
  margin-bottom: 72px;
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
  align-items: center;
}

.portfolio-foto {
  background-color: #ffffff;
  width: calc((100% - 24px * 2) / 3);
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-foto:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-foto:hover .overlay {
  transform: translateY(0);

  transition: transform box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
  text-align: left;
}

.portfolio-h {
  margin-bottom: 8px;
}

.team-social,
.footer-social {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-social-icon,
.footer-social-icon {
  width: 40px;
  height: 40px;
}

.social-link,
.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
  background-color: #2e2f42;
  line-height: 1.17;
  padding: 100px 0;
}

.footer-p {
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #ffffff;
  width: 264px;
}

.p-social {
  margin-bottom: 16px;
}

.p-subscribe {
  margin-bottom: 16px;
}

.footer-social {
  gap: 16px;
  justify-content: left;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-card {
  margin-right: 120px;
}

.footer-social-link {
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-social-media {
  font-weight: 500;
  color: #ffffff;
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #2e2f42;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-form-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: #4d5ae5;
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.subscribe-form-icon {
  fill: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms ease-in vvisibility 300ms ease-in;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: relative;
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 24px;
  padding-top: 72px;
}

.modal-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-btn-icon {
  stroke: currentColor;
}

.modal-caption {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-label {
  display: block;
  color: #8e8f99;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  font-size: 12px;
}

.field {
  margin-bottom: 8px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: inherit;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: none;
}

.form-input:focus {
  border-color: #4d5ae5;
}

.field-form-icon {
  position: relative;
}

.field-form-icon:focus {
  border-color: #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .field-icon {
  fill: #4d5ae5;
}

.form-comment {
  width: 100%;
  resize: vertical;
  min-height: 120px;
  max-height: 180px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.form-checkbox {
  display: flex;
  gap: 8px;
}

.form-checkbox-p {
  font-size: 12px;
  letter-spacing: 0.04em;
}

.form-privacy-policy {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.form-btn {
  margin-top: 24px;
}
